<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
  <link rel="stylesheet" href="style/translate.css" />

  <!-- 这里引入了  Material Icons， 可以把icon当做特殊的字体-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

</head>

<body>
  <div class="title">
    <!-- icon的使用 -->
    <i class="material-icons">g_translate</i>
    <div class="name">My Translate</div>
  </div>
  <div class="header">
    <div class="en">英文</div>
    <div class="swap">
      <i class="material-icons">swap_horiz</i>
    </div>
    <div class="zh">中文</div>
  </div>
  <div class="from">
    <textarea placeholder="输入要翻译的文本" autofocus class="source" name="source" id="textarea" cols="30" rows="5"></textarea>
  </div>
  <div class="to">
    <!-- the translate results -->
    <!-- <div class="item">zheshi</div>
      <div class="item">事务</div>
      <div class="item">事务</div> -->
  </div>
</body>

<!-- 注意顺序， 要先引入utils.js ，因为在index里面要使用utils里面的函数 -->
<script src="js/utils.js"></script>
<script src="js/translate.js"></script>

</html>